@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 400;
}

/* style for Heading*/

.nav-items {
    overflow: hidden;
    background-color: black;
}

#pagename h1 {
    text-align: center;
    color: white;
    font-family: Courgette;
    line-height: 60px;
    font-size: 350%;
}

a { 
    color: white;
    font-family: Courgette;
    text-decoration: none;
    line-height: 60px;
    padding: 10px;
    text-align: center;
}

.nav-right {
    float: right;
    padding: 5px;
    font-size: 140%;
}


