@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

body {
    font-family: Libre Baskerville, Courgette, sans-serif;
    font-weight: 400;
}

/* style for Heading*/

.nav-items {
    overflow: hidden;
    background-color: black;
}

#pagename h1 {
    text-align: center;
    color: white;
    font-family: Courgette;
    line-height: 60px;
    font-size: 350%;
}

a {
    color: white;
    font-family: Courgette;
    text-decoration: none;
    line-height: 60px;
    padding: 10px;
    text-align: center;
}

.nav-right {
    float: right;
    padding: 5px;
    font-size: 140%;
}

/* Style for Hero image*/
.hero-image {
    display: flex;
    position: relative;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/landscape-mtn-hero-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Style About Me section*/

/* Style h2 About Me section*/
h2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: Courgette;
    font-size: 240%;
    padding: 2% 2%;
    height: 3rem;
}

.aboutme-h2 {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Style text and image About Me section*/

.aboutme {
    display: inline;
    position: static;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    
}

.aboutme-text {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 400;
    font-size: 120%;
    padding: 5%;   
}
.aboutme-image {
    padding: 5%;  
    object-fit: contain; 
    display: flex;
    justify-content: center;

}


/* style Gallery h2 */

h2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: Courgette;
    font-size: 240%;
    padding: 2% 2%;
    height: 3rem;
}

.gallery-h2 {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Style Gallery photos and h3 headings */

h3 {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: Courgette;
    font-size: 160%;
    padding: 2% 2%;
    height: 3rem;
}
.gallery-h3 {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.image-gallery-spring-summer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-gallery-spring-summer > li {
    flex-basis: 30%;
}


.image-gallery-fall-winter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-gallery-fall-winter > li {
    flex-basis: 30%;
}
.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 20px;
}

/* Contact Section */

/* Contact Header*/

.contact-h2 {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Contact Image */

.contact-image {
    width: 100%;
    height: 600px;
    background-position: center;
    background-image: url(../images/glaciermountain-contactform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Contact Form */

.contact-form {
    position: absolute;
    right: 20%;
    margin: 20px;
    max-width: 300px;
    background: transparent;
    border-radius: 6px;
    padding: 10px;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-color: aliceblue;
    margin-top: 6px;
    margin-bottom: 18px;
    background: white;
    resize: vertical;
} 
input[submit] {
    background-color: white;
    padding: 12px 15px;
    border-radius: 2px;
    cursor: pointer;
}


/* Footer */

footer {
    height: 130px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.socialmedia {
    text-align: center;
}
.socialmedia {
    font-size: 160%;
    color: white;
}
.socialmedia > li {
    display: inline;
    padding: 2%;
    margin: 2%
}   


/* Media queries */

/* For devices with screen size less than 800px */
@media (max-width: 800px) {

    #pagename h1 {
        font-size: 250%;
    }
    .hero-image {
        height: 450px;
        background-position: center center;
    }
    .aboutme-text {
        font-size: 100%;
        padding: 4%;
    }
    .aboutme-image {
        max-width: 60%;
        margin: 0 auto;
    }
    .image-gallery-spring-summer > li, 
    .image-gallery-fall-winter > li {
        flex-basis: 50%;
    }
    .image {
        object-fit: contain;
        height: auto;
    }
    footer {
        height: 90px;
    }
}

/* For devices with screen size less than 500px */
@media (max-width: 500px) {

    #pagename h1 {
        font-size: 170%;
    }
    .nav-right {
        float: right;
        padding: 2px;
        font-size: 80%;
    }
    .hero-image {
        height: 280px;
        background-position: center center;
    }
    .aboutme-text {
        font-size: 85%;
        padding: 2%;
    }
    .aboutme-image {
        max-width: 45%;
        margin: 0 auto;
    }
    .image-gallery-spring-summer > li, 
    .image-gallery-fall-winter > li {
        flex-basis: 100%;
    }
    #thank-you-message {
        font-size: 2em;
    }

    footer {
        height: 80px;
    }
}

