@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    font-family: Libre Baskerville, sans-serif;
    font-weight: 400;
}

/* style for Heading*/

.nav-items {
    overflow: hidden;
    background-color: black;
}

#pagename h1 {
    text-align: center;
    color: white;
    font-family: Courgette;
    line-height: 60px;
    font-size: 350%;
}

a {
    color: white;
    font-family: Courgette;
    text-decoration: none;
    line-height: 60px;
    padding: 10px;
    text-align: center;
}

.nav-right {
    float: right;
    padding: 5px;
    font-size: 140%;
}

/* Style for Hero image*/
.hero-image {
    display: flex;
    position: relative;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/landscape-mtn-hero-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Style About Me section*/

h2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: Courgette;
    font-size: 240%;
    padding: 2% 2%;
    
}

.aboutme-h2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
